body, .page span, .header, .footer, .sidebar {
  color: $text-color;
  background-color: $background-color;
}

.page span {
  color: $text-color;
}

.header {
  border-bottom: 1px solid $border-color;
}

.footer {
  border-top: 1px solid $border-color;
}

.sidebar {
  border-right: 1px solid $border-color;
}


.card {
  color: $card-text-color;
  background-color: $card-background-color;
  border: none;
}

.card .card-header {
  border-bottom: 1px solid $card-border-color;
}

.card .card-footer {
  border-top: 1px solid $card-border-color;
}


.btn-black {
  // TODO: Why is this using the same colors as hover?
  color: $menu-hover-text-color;
  background-color: $menu-hover-background-color;
  border-color: $menu-hover-border-color;
}

.btn-black:hover, .btn-black:focus {
  background-color: $menu-hover-background-color;
  border-color: $menu-hover-border-color;
}

.btn.btn-pill.btn-secondary.btn-resource-navigation {
  color: $card-text-color;
  background-color: $card-background-color;
  border: none;
}

.btn.btn-pill.btn-secondary.btn-resource-navigation:disabled {
  color: $menu-disabled-text-color;
  background-color: $menu-disabled-background-color;
}

.btn.btn-pill.btn-secondary.btn-resource-navigation:hover:enabled {
  color: $menu-hover-text-color;
  background-color: $menu-hover-background-color;
}

.btn.btn-secondary.btn-action, .btn.btn-secondary.btn-dropdown-action {
  color: $text-color;
  background-color: $background-color;
}

.btn.btn-secondary.btn-action:active, .btn.btn-secondary.btn-dropdown-action:active {
  color: $menu-hover-text-color;
  background-color: $menu-hover-background-color;
}

.dropdown-menu.dropdown-menu-dark {
  color: $text-color;
  background-color: $background-color;
}

.dropdown-menu.dropdown-menu-dark .dropdown-item {
  color: $text-color;
}

.dropdown-menu.dropdown-menu-dark .dropdown-item:hover,
.dropdown-menu.dropdown-menu-dark .dropdown-item:focus,
.dropdown-menu.dropdown-menu-dark .dropdown-item:active {
  color: $menu-hover-text-color;
  background-color: $menu-hover-background-color;
}

.dropdown-menu.dropdown-menu-dark-alternate {
  color: $card-text-color;
  background-color: $card-background-color;
}

.dropdown-menu.dropdown-menu-dark-alternate.dropdown-menu-arrow:after {
  border-bottom: 5px solid #120F12;
}

.dropdown-menu.dropdown-menu-dark-alternate .dropdown-item {
  color: inherit;
}

.dropdown-menu.dropdown-menu-dark-alternate .dropdown-item:hover,
.dropdown-menu.dropdown-menu-dark-alternate .dropdown-item:focus,
.dropdown-menu.dropdown-menu-dark-alternate .dropdown-item:active {
  color: $menu-hover-text-color;
  background-color: $menu-hover-background-color;
}

// Override style from tabler.
pre {
  color: inherit;
  background-color: inherit;
  text-shadow: none;
}

input.form-control,
textarea.form-control,
.selectize-control.form-control .selectize-input,
.selectize-control.form-control .selectize-dropdown,
.selectize-control.form-control.single .selectize-input.input-active {
  color: $field-text-color;
  background-color: $field-background-color;
}

input.form-control:focus, input.form-control:active {
  color: $field-active-text-color;
  background-color: $field-active-background-color;
}

.selectize-control.single .selectize-input:after {
  background: transparent;
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: .200em;
  margin-left: .255em;
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.header .nav-tabs .nav-link:hover:not(.disabled) {
  color: $menu-hover-text-color;
  background-color: $menu-hover-background-color;
  border-bottom: 1px solid $menu-hover-border-color;
}

.highlight {
  color: $highlight-text-color;
  background-color: $highlight-background-color;
}

.alert span {
  color: initial;
}

.sidebar .nav-tabs .nav-item a {
  color: $text-color;
}

.sidebar .nav-tabs .nav-item a:hover {
  color: $menu-hover-text-color;
  background-color: $menu-hover-background-color;
}

textarea {
  font-family: monospace;
}