@import 'app';

$background-color: #1c1c1c;
$text-color: #e2edf4;
$border-color: rgba(210, 188, 167, 0.12);

$card-background-color: #120f12;
$card-text-color: $text-color;
$card-border-color: $border-color;

$field-background-color: #343434;
$field-text-color: $text-color;
$field-active-background-color: $background-color;
$field-active-text-color: $text-color;

$highlight-background-color: #343434;
$highlight-text-color: $text-color;

// Dropdown menu and navigation menu.
$menu-hover-background-color: #343434;
$menu-hover-text-color: #d2bca7;
$menu-hover-border-color: $border-color;
$menu-disabled-background-color: #343434;
$menu-disabled-text-color: $text-color;

@import 'theme';